#box {
    background-color: rgb(83, 5, 77);
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#top {
    text-align: center;
    font-weight: 800;
    margin: 0 auto;
    display: block;
    font-size: 30px;
}

.anime {
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 22px;
}